.l-header {
  width: 100%;
  border-bottom: solid 1px var(--c-base);
  padding-top: 1rem;

  &__inner {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1168px;
    padding: 0 16px;
    margin: 0 auto;
  }

  &__title {
    display: inline-block;
    color: var(--c-base);
    text-decoration: none;
  }

  &__link-list {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__link-item {
    & > a {
      position: relative;
      color: var(--c-base);
      text-decoration: none;
    }

    & > a[aria-current="page"]::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 10px;
      background-color: var(--c-base);
    }

    &:not(:first-of-type) {
      margin-left: 1rem;
    }
  }
}
