<header class="l-header">
  <div class="l-header__inner">
    <div role="navigation">
      <a href="/" class="l-header__title u-txl">{{ .Site.Title }}</a>
      <ul class="l-header__link-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.header }}
        <li class="l-header__link-item">
          <a href="{{ .URL }}" class="u-tm"{{ if $currentPage.IsMenuCurrent "header" . }}aria-current="page"{{ end }}>{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</header>
