<header class="l-header">
  <div class="l-header__inner">
    <div role="navigation">
      <a href="/" class="l-header__title u-txl">{{ .Site.Title }}</a>
      <ul class="l-header__link-list">
        {{ $currentPage := . }}
        {{ range .Site.Menus.header }}
        <li class="l-header__link-item">
          <a href="{{ .URL }}" class="u-tm"{{ if $currentPage.IsMenuCurrent "header" . }}aria-current="page"{{ end }}>{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
    <div class="l-theme-selector">
      <p class="l-theme-selector__label">表示色</p>
      <ul class="l-theme-selector__button-list">
        <li><button data-js="theme" value="light" aria-pressed="true" class="l-theme-selector__button">明るい</button></li>
        <li><button data-js="theme" value="dark" aria-pressed="false" class="l-theme-selector__button">暗い</button></li>
      </ul>
    </div>
  </div>
</header>
