<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    {{ template "_internal/google_analytics.html" . }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ print .Title " | " .Site.Title }}
      {{ end }}
    </title>
    <meta name="description" content="
     {{- if .IsHome -}}
        {{ .Site.Params.description }}
      {{- else -}}
        {{- .Description -}}
      {{- end -}}
    ">
    {{ $style := resources.Get "styles/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $syntaxStyle := resources.Get "styles/syntax.css" }}
    <link rel="stylesheet" href="{{ $syntaxStyle.Permalink }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="
     {{- if .IsHome -}}
        {{- .Site.Title -}}
      {{- else -}}
        {{- print .Title " | " .Site.Title -}}
      {{- end -}}
      ">
    <meta property="og:type" content="video.movie">
    <meta property="og:url" content="{{ .Permalink }}">
    <meta property="og:image" content="{{ "/ogp.png" | absURL }}">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:description" content="
     {{- if .IsHome -}}
        {{ .Site.Params.description }}
      {{- else -}}
        {{- .Description -}}
      {{- end -}}
    ">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@zoshigayan">
    <meta name="twitter:creator" content="@zoshigayan">
    <meta name="twitter:title" content="
     {{- if .IsHome -}}
        {{- .Site.Title -}}
      {{- else -}}
        {{- print .Title " | " .Site.Title -}}
      {{- end -}}
    ">
    <meta name="twitter:description" content="
     {{- if .IsHome -}}
        {{ .Site.Params.description }}
      {{- else -}}
        {{- .Description -}}
      {{- end -}}
    ">
  </head>
  <body>
  <div class="container">

    <header class="header">
      {{ partial "logo.html" . }}
    </header>

    <main class="main">
    {{ block "main" . }}
    {{ end }}
    </main>

    <footer class="footer">
      <p class="about-link"><a href="/about">雑司ヶ谷について</a></p>
      <p class="credit">{{ .Site.Copyright }}</p>
    </footer>
  </div>
  </body>
  <script type="application/javascript">
    window.onload = function() {
      (function() {
        const ageElement = document.getElementById("age");
        if (!ageElement) return;

        const birthday = new Date(1994, 9, 28);
        function calcAge() {
          const now = new Date();
          const age = (now - birthday) / 31557600000;
          ageElement.innerText = age.toFixed(8);
        }
        window.setInterval(calcAge, 10);
      })();
    };
  </script>
</html>
