<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {{ if .IsHome }}
        {{ .Site.Title }}
      {{ else }}
        {{ print .Title " | " .Site.Title }}
      {{ end }}
    </title>
    {{ $style := resources.Get "styles/main.scss" | toCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
    {{ $syntaxStyle := resources.Get "styles/syntax.css" }}
    <link rel="stylesheet" href="{{ $syntaxStyle.Permalink }}">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:title" content="
     {{- if .IsHome -}}
        {{- .Site.Title -}}
      {{- else -}}
        {{- print .Title " | " .Site.Title -}}
      {{- end -}}
      " />
    <meta property="og:type" content="video.movie" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="{{ "/ogp.png" | absURL }}" />
  </head>
  <body>
  <div class="container">

    <header class="header">
      {{ partial "logo.html" . }}
    </header>

    <main class="main">
    {{ block "main" . }}
    {{ end }}
    </main>

    {{ if .TableOfContents }}
      <aside class="aside" aria-label="目次">
        {{ .TableOfContents }}
      </aside>
    {{ end }}

    <footer class="footer">
      <p class="credit">{{ .Site.Copyright }}</p>
    </footer>
  </div>
  </body>
</html>
