$c_primary: #2e8adb;
$c_base: #ccc;

html {
  font-size: 150%;

  @media screen and (max-width: 600px) {
    font-size: 120%;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: #000;
  color: #ccc;
  overflow-y: scroll;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: $c_base;

  &:hover,
  &:focus {
    color: $c_primary;
  }
}

a,
button {
  &:focus {
    outline: dashed 2px $c_primary;
    outline-offset: 0.5rem;
  }
}

ul {
  li:not(:first-of-type),
  ul {
    margin-top: 0.5rem;
  }
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  white-space: nowrap; /* added line */
}

.container {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
}

.main {
  flex: 1;
  width: 100%;
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

.footer {
  padding: 1rem;
  margin-top: 8rem;
}

.credit {
  text-align: center;
}

.logo {
  svg {
    display: block;
    height: 1rem;
    fill: $c_base;
  }

  &:hover svg,
  &:focus svg {
    fill: $c_primary;
  }
}

.postlist {
  list-style-type: none;

  li {
    padding-left: 2rem;
  }

  a {
    position: relative;
    font-weight: 700;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -2rem;
      width: 1rem;
      height: 1rem;
      border: solid 2px $c_base;
      transform: translateY(-50%);
    }

    &:hover::before {
      border-color: $c_primary;
      background-color: $c_primary;
    }
  }
}

.article {
  // なんか書こうとしたけど忘れた
  width: 100%;

  &__title {
    font-size: 4rem;
  }

  &__time {
    font-size: 0.8rem;

    dt {
      width: 5rem;
    }

    & > div {
      display: flex;
    }
  }
}

.article-body {
  margin-top: 3rem;

  h2:not(:first-child) {
    margin-top: 5rem;
  }

  p {
    line-height: 1.7;

    & + p {
      margin-top: 2rem;
    }
  }

  a {
    text-decoration: underline;
  }

  ul,
  ol {
    margin: 2rem 0 4rem;
  }

  pre {
    overflow-x: scroll;
    margin: 2rem 0 4rem;
  }

  iframe {
    margin: 2rem 0 4rem;
  }

  .footnotes {
    margin-top: 5rem;
  }
}
